:root {
    --main-color: #0056fe;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    margin-left: auto;
    margin-right: auto  ;
    background-color: #0056fe;
    height: fit-content;

}
.text {
    justify-content: center;
    
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inp {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google {
    justify-content: center;
}